__pycache__/

# To stop Git from updating the output and keyInfomation:
# git update-index --skip-worktree output/output.png
# git update-index --skip-worktree output/output
# git update-index --skip-worktree output/output.sql
# git update-index --skip-worktree prometheusMain/keyInformation/keyList.json
# git update-index --skip-worktree prometheusMain/keyInformation/bannedWords.txt