/* Import custom fonts */
@font-face {
    font-family: 'Proggy';
    font-weight: normal;
    font-style: normal;
    src: url('font/ProggyVectorRegular.ttf')
}
@font-face {
    font-family: 'DejaVu';
    font-weight: normal;
    font-style: normal;
    src: url('font/DejaVuSans.ttf')
}

/* Initialize custom color variables */
:root {

    --active-index: 0;

    --light-red: #D65C5C;
    --red: #C43131;
    --dark-red: #932525;
    --darkRedRGB: 147, 37, 37;

    --light-orange: #FCAA67;
    --orange: #FB8F37;
    --dark-orange: #FB8F37;

    --light-peach: #FFDAB9;
    --peach: #FFC6A5;
    --dark-peach: #FFA07A;

    --cream: #FFFFEB;
    --dark-cream: #141414;
}

/* Customizes the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--dark-cream);
}

/* Initializes some global visuals */
* {
    scroll-behavior: smooth;
    font-family: 'DejaVu';
    color: var(--cream);
}

body {
    margin: 0px;
    min-height: 100vh;
    background-color: var(--dark-red);
}

.center { text-align: center; }

.about {
    margin: 5vh 10vw;
    text-indent: 24px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 72px;
    text-align: center;
    top: 60px;
    background-color: rgba(var(--darkRedRGB), 0.75);
    font-family: 'Proggy';
    height: 15vh;
}



/* Main Menu CSS */
body.mainMenu {
    background: linear-gradient(150deg, var(--dark-peach), var(--light-red) 25%, var(--dark-red));
    margin: 0px;
    min-height: 100vh;
}

h1.welcome {
    padding: 0;
    font-size: 72px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 60px;
    left: 20vw;
    width: 50vw;
    transform: translateX(-6%);
    background-color: rgba(var(--darkRedRGB), 0.50);
    transition: opacity 400ms ease;
    font-family: 'Proggy';
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
    max-height: 85vh;
}

#mainMenu {
    margin-left: 20vw;
    position: absolute;
}

.menuItem {
    color:var(--cream);
    font-size: 64px;
    display: block;
    text-decoration: none;
    padding: 0.5vw;
    transition: opacity 400ms ease;
}

#menuBackgroundImage {
    height: 100%;
    width: 100%;
    background-image: url('./img/HeinrichFueger.jpg');
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -150;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.25;

    transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease;
}

/* Responsive main menu */
#mainMenu:hover ~ h1 { opacity: 0; }
#mainMenu:hover > .menuItem { opacity: 0.3; }
#mainMenu:hover > .menuItem:hover { opacity: 1; }
#mainMenu:hover ~ #menuBackgroundImage {
    background-size: 125vmax;
    opacity: 0.20;
}

#menu > #menuBackgroundImage {
    background-position: center calc(45% + 5% * var(--active-index, 0));
}



/* Subpage CSS */
img { 
    max-width: 95vw; 
    max-height: auto;
}

/* Buttoms for submitting and uploading files */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}
  
label[for="fileInput"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--peach);
    color: var(--dark-cream);
    width: 500px;
    padding: 1rem;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
label[for="fileInput"]:hover {
    background-color: var(--dark-peach);
}

label[for="fileUpload"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--light-orange);
    color: var(--dark-cream);
    width: 350px;
    padding: 1rem;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
label[for="fileUpload"]:hover {
    background-color: var(--orange);
}

.mapDatabaseInstructionsTop {
    font-size: 24px;
    display: flex;
    justify-content: center;
    background-color: rgba(var(--darkRedRGB), 0.40);
    text-align: center;
    align-items: center;
}

.mapDatabaseInstructions {
    display: flex;
    justify-content: center;
    background-color: rgba(var(--darkRedRGB), 0.40);
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.mapDatabaseInstructions > * {
    padding: 1rem;
    border-left: 2px solid var(--light-orange);
    width: 30%;
}
  
.mapDatabaseInstructions > :first-child {
    border-left: none;
}

















/* Modified main menu background to work with pages with scrolling */
body.static {
    background: linear-gradient(150deg, var(--dark-peach), var(--light-red) 25%, var(--dark-red));
    margin: 0px;
    min-height: 100vh;
    padding: 0px;
}

#staticBackgroundImage {
    height: 100%;
    width: 100%;
    background-image: url('./img/HeinrichFueger.jpg');
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -150;
    background-position: center 40%;
    background-size: 125vmax;
    opacity: 0.10;
}

/* Button to return to the main menu (returnToMenu.js) */
.menuButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--cream);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    width: 48px;
    height: 48px;
    text-decoration: none;
    z-index: 9999;
    box-shadow: 0 0 10px 5px var(--peach);
    transition: all 0.2s ease-in-out;
}
.menuButton:hover {
    background-color: var(--dark-red);
    box-shadow: 0 0 10px 5px var(--dark-peach);
}